html {
    height: 100vh;
}

.main {
    height: 100vh;
    margin: 0;
}

.rest {
    display:flex;
    height: 100%;
    width: 100%;
    flex-wrap:wrap;
}

.right {
    display: flex;
    flex: column;
    height: 100%;
    width: 100%;
    flex-wrap:wrap;
    border: solid black 2px;
    
}